<span class="flex items-center">
    <img src="assets/demo/images/logo/TAF.jpg" alt="Logo" class="logo-image mr-2">
    <span class="text-surface-900 dark:text-surface-0 font-medium text-2xl leading-normal">TradeAIFusion</span>
</span>

<span pButton [text]="true" severity="secondary" [rounded]="true" pRipple class="lg:hidden!" pStyleClass="@next" enterFromClass="hidden" leaveToClass="hidden" [hideOnOutsideClick]="true">
    <i class="pi pi-bars text-2xl!"></i>
</span>

<div class="items-center bg-surface-0 dark:bg-surface-900 justify-end hidden lg:flex absolute lg:static w-full left-0 top-full px-12 lg:px-0 z-20 rounded-border">
    <div class="flex flex-col items-stretch lg:flex-row lg:items-center border-t lg:border-t-0 border-surface py-4 lg:py-0 mt-4 lg:mt-0 gap-2">
        <button pButton pRipple label="Sign in" routerLink="/auth/login" severity="secondary" class="w-full lg:w-auto"></button>
        <button pButton pRipple label="Sign Up" routerLink="/auth/register" severity="info" class="w-full lg:w-auto"></button>
        <button pButton pRipple label="24/7 Chat Support" routerLink="/auth/login" severity="success" class="w-full lg:w-auto"></button>
        <button
            pButton
            pRipple
            type="button"
            label="Theme"
            [icon]="isDarkTheme() ? 'pi pi-moon' : 'pi pi-sun'"
            severity="secondary"
            class="w-full lg:w-auto justify-center"
            (click)="toggleDarkMode()"
        ></button>
    </div>
</div>