::ng-deep {
  .quick-link-deposit .p-ink {
    background: rgba(236, 72, 153, 0.25);
  }
  .quick-link-withdraw .p-ink {
    background: rgba(16, 185, 129, 0.25);
  }
  .quick-link-support .p-ink {
    background: rgba(59, 130, 246, 0.25);
  }
  .quick-link-events .p-ink {
    background: rgba(139, 92, 246, 0.25);
  }
}